<div class="exercise-container">
  @if (category.type === 'vocabulary') {
  <div>
    <app-vocabulary-exercise [exercises]="category.exercises" (completed)="onCompleted($event)">
    </app-vocabulary-exercise>
  </div>
  } @if (category.type === 'grammar') {
  <div>
    <app-grammar-exercise [exercises]="category.exercises" (completed)="onCompleted($event)">
    </app-grammar-exercise>
  </div>
  } @if (category.type === 'test') {
  <div>
    <app-test-exercise [exercises]="category.exercises" (completed)="onCompleted($event)">
    </app-test-exercise>
  </div>
  } @if (category.type === 'review') {
  <div>
    <app-review-exercise [exercises]="category.exercises" (completed)="onCompleted($event)">
    </app-review-exercise>
  </div>
  } @if (category.type === 'speaking') {
  <div>
    <app-speaking-exercise [exercises]="category.exercises" (completed)="onCompleted($event)">
    </app-speaking-exercise>
  </div>
  } @if (category.type === 'writing') {
  <div>
    <app-writing-exercise [exercises]="category.exercises" (completed)="onCompleted($event)">
    </app-writing-exercise>
  </div>
  } @if (category.type === 'dialogue') {
  <div>
    <app-dialogue-exercise [exercises]="category.exercises" (completed)="onCompleted($event)">
    </app-dialogue-exercise>
  </div>
  }
</div>
